{% extends "index.html" %}

{% block content %}

<main class="container mt-5">
    <div class="jumbotron px-5 py-2 mt-5 mb-5 rounded-2 bg-dark-subtle">
        <h1>Welcome to the Apple Store</h1>
        <p class="lead">Explore our latest products and innovations.</p>
    </div>
    
    <div class="row">
        {% for i in data  %}
            <div class="col-4 mb-4">
                <a href="{% url "product" i.id %}">
                    <div class="card border-2 rounded-0">
                        <div class="card-body">
                            <h5 class="card-title text-decoration-none">{{i.title}}</h5>
                            <a href="product/{{i.id}}" class="btn btn-primary">More</a>
                            <a href="update/{{i.id}}" class="btn btn-info">Update</a>
                            <a href="delete/{{i.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
</main>

{% endblock content %}

